@charset "UTF-8";

/* Normalizações  */
@font-face {
     font-family: Fredoka;
     src: url('../fonts/Fredoka_One/FredokaOne-Regular.ttf');
}

@font-face {
     font-family: Corbel-italic;
     src: url('../fonts/Corbel/Corbel-Italic.ttf');
}

@font-face {
     font-family: Corbel-bold;
     src: url('../fonts/Corbel/Corbel-Bold.ttf');
}

body {
    background-color: #9D5EB5;
    font-family: 'Fredoka';
    color: #3b3b3b;
}

/* footer {
    position:absolute;
    bottom:0;
    width:100%;
} */

.row {
    margin: auto 0;
}
/* ------------------ */


/* ---Menu------------ */
.area-menu {
    width: 80%;
    font-family: 'Fredoka';
    background-color: rgb(242, 241, 244);
    padding: 0.5rem;
    border-radius: 0rem 0rem 0.4rem 0.4rem;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

    margin: 0 auto;
    margin-bottom: 1rem;
}

.nav-link {
    color: #3b3b3b;
    font-size: 0.8rem;
}

.link-menu {
    padding: 3rem 2rem;
}

.menu .logo {
    display: inline-block;
}

#logo {
    width: 170%;
}

#btn-rolar-para-cima
 {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 9999;
  outline: none;

}
/* ---Seções------------ */

.color-1, .color-2, .color-3 {
    min-height: 95vh;
    height: auto;
    padding: 10rem 0rem 3rem 0rem;
    transition: 0.5s;
}

.color-1 {
    background-color: #9D5EB5;
}

.color-2 {
    /* background-color: #00edfc; */
    background-color: #FC9A00;

}

.color-3 {
    background-color: #009E86;
}

.footer{
    height: auto;
    background-color: #009E86;
    text-align: center;
    padding-top: 1rem;
}

.footer-consulta {
    position: absolute;
    background-color: #009E86;
    bottom: 0;
    width: 100%;
    text-align: center;
    height: 3rem;
    max-height: 5rem;
    margin-bottom: 0;
}

/* ---Conteudos (imagens, textos)------------ */


.fig-texto-right, .fig-texto-left {
    width: 350px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.fig-texto-right {
    float: right;
}

.fig-texto-left {
    float: left;
}

.texto {
    color:white;
    font-size: 1.5rem;

}

.texto h1{
    font-family: 'Corbel-Bold';
}

.texto p{
    font-family: 'Corbel-Italic';
}

.texto-fundo{
    background: rgb(251, 251, 251);
    color: black;
    border-radius: 0.3rem;
    padding: 1rem;
    height: auto;
    top: 2rem;
}

.fundo {
    background-color: white;
    border-radius: 0.4rem;
}

.aside-fundo {
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;

}

.section-fundo {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-right: 1rem;
}

.espacing-menu-section {
    margin-bottom: 6rem !important;
}

.container-consulta {
    display: flex;
    align-items: stretch;
    justify-content: center;
    padding: 1rem;
    margin: 0 auto;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
     transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#content {
    margin: 0 0 0 1rem;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);

}

.resultado-consulta {
    margin: 0.5rem 0rem;
}
#sideCollapse, #hideConsultar{
    display: none;
}


#sideCollapse {
    background: #188db9;
    border-radius: 1rem;
    position: fixed;
    bottom: 35vh;
    right: 89%;
    z-index: 1000;
    outline: none;
    cursor: pointer;
    font-size: 0.8rem;
    color: white
}


.invisivel{
    opacity: 0;
    transition: all 0.1s;
}



 /* Media Query - alguns ajustes que deixam site responsivo */
@media (max-width: 767px) {
    .color-1, .color-2, .color-3 {
        min-height: 95vh;
        height: auto;
        padding: 3rem 0rem 3rem 0rem;
        transition: 0.5s;
    }

    .fig-texto-right, .fig-texto-left {
        width: 330px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        float: none;
    }

    .titulo-secao {
        text-align: center;
    }

    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }

    #sideCollapse, #hideConsultar {
        display: inline;
    }
}

@media (max-width: 425px) {
    #sidebar.active {
        margin-left: 80px;
    }
}

@media (max-width: 320px) {
    #sidebar.active {
        margin-left: 200px;
    }
}
